doctype 5
html
	head
		title = title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
		script(type='text/javascript', src='javascripts/interaction.js')
	body
		<a href="https://github.com/denizkahramaner/photocollage"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub"></a>
		#content
			div#intro
				h1 007 SHADOWBOXING
			div#projectdata
				<iframe width="853" height="480" src="http://www.youtube.com/embed/IRCQv7SBN1s?rel=0" frameborder="0" allowfullscreen></iframe>
			div#aboutdata
				div#calvin
					h3 CALVIN
					p cfernand@stanford.edu
				div#deniz
					h3 DENIZ
					p denizk@stanford.edu
				div#maurizio
					h3 MAURIZIO
					p mcalo012@stanford.edu
				div#roberto
					h3 ROBERTO
					p goizueta@stanford.edu
			div#designdata
				#brainstormslide.designcontainer
					.imagecontainer
						<iframe align="center" src="http://www.flickr.com/slideShow/index.gne?group_id=&user_id=92472782@N03&set_id=72157632581614763&text=" frameBorder="0" width="425" height="425" scrolling="no"></iframe><br/>
					.description
						p Step 1: Whiteboard. Step 2: Sketch everything! </br> 
							| <b> Shadow Tetris </b> &nbsp We enjoyed 
							| the interactivity of the popular Japanese </br>
							| game show,  "Human Tetris" and thought 
							| the show would translate well </br> to the Kinect 
							| <b> Shadow Fat Booth</b> &nbsp A riff on the 
							| once-popular iPhone app, </br> "Fat Booth" seemed 
							| like a fun way of engaging users by playing 
							| with </br> body image. <b> Playing with Physics </b> &nbsp
							| One of our crazier ideas for altering </br> the way
							| your shadow interacts with things around it. Users
							| can explore </br> zero gravity or zero friction.
							| <b> Music Man </b> &nbsp Wave your arms and immerse
							| </br> in the shimmering lights and music that you
							| create with your hands </br> and body movements. Sounds
							| enticing, right? <b> 007 </b> &nbsp Take part in 
							| your </br> favorite spy thriller! <b> Stacker </b> How
							| much can the user balance before </br> they lose control 
							| of all the blocks? 
				#depthslide.designcontainer
					.imagecontainer
						<iframe align="center" src="http://www.flickr.com/slideShow/index.gne?group_id=&user_id=92472782@N03&set_id=72157632581867739&text=" frameBorder="0" width="425" height="425" scrolling="no"></iframe><br/>
					.description
						p We decided to pursue the 007 idea further to explore how </br>
							| we might optimally engage users in a James Bond experience </br>
							| After sketching different scenes, we decided on incorporating </br>
							| the opening sequence of every Bond movie in our design </br>
							| The interactive aspect would include the barrel following </br>
							| userse as they crossed the screen. We were still lacking </br>
							| a higher level of interaction, so we experimented with </br>
							| different gestures that the Kinect could recognize to </br>
							| indicate that a virtual "gunshot" had been fired. Once </br>
							| we perfected the gesture recognition, we had an engaging </br>
							| and entertaining method for users to interact with a </br>
							| unique 007 opening sequence.
				#finalslide.designcontainer
					.imagecontainer
						<a href="http://www.flickr.com/photos/48204080@N05/4511498720/" title="james bond by iguanas y mas iguanas !!!, on Flickr"><img src="http://farm5.staticflickr.com/4048/4511498720_9673c88eb0.jpg" width="320" height="425" alt="james bond"></a>
					.description
						p <b> Why BondBooth ?</b> &nbsp After brainstorming, we </br>
							| categorized our apps into three groups: Musical; </br>
							| Physical - such as flapping wings; Immersive. </br>
							| We felt that having the user complete an immersive </br>
							| interaction would add meaning to a context, in this </br>
							| case, the James Bond franchise. We believe that </br>
							| BondBooth would be the perfect toy to set up at a </br>
							| movie theater, a Bond Premier, a busy line, Disney </br>
							| World, Hollywood, or any place where people are </br>
							| looking for a way to immerse themselves in their </br>
							| favorite spy movie. 
		#nav
			#navbar
				#home
					h3 HOME
				#project
					h3 VIDEO
				#process
					h3 DESIGN
				#about
					h3 ABOUT US
			#morenavbar
				#brainstorm
					h3 Brainstorming
				#depth
					h3 In Depth
				#final
					h3 Final Design
